{% extends 'base.html' %}

{% load static %}

{% block title %}{{ post.title }}{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/posts-detail.css' %}">
{% endblock css_files %}

{% block content %}
    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in post_tag %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <address>by {{ post.author }}</address>
            <div>
                Last Update on <time>{{ post.date|date:"F j, Y"}}</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            {{ post.content }}
        </p>
    </main>

    <section id="comment-form">
        <h2>Your Comment</h2>
        <form>
            {% for form_fields in comment_form %}
                <div class="form-control">
                    {{ form_fields.label_tag }}
                    {{ form_fields }}
                    {{ form_fields.errors }}
                </div>
            {% endfor %}
            <button>Save</button>
        </form>
    </section>

{% endblock content %}