{% extends 'base.html' %}

{% load static %}

{% block title %}{{ post.title }}{% endblock title %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'blog/posts-detail.css' %}">
{% endblock css_files %}

{% block content %}
    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in post_tag %}
                <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <div id="read-later">
            <form action="{% url 'read-later' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{ post.id }}" name="post_id">
                <button>
                    {% if saved_for_later %}
                        Remove from "Read Later"
                    {% else %}
                        Read Later
                    {% endif %}
                </button>
            </form>
        </div>
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}">
            <address>by {{ post.author }}</address>
            <div>
                Last Update on <time>{{ post.date|date:"F j, Y"}}</time>
            </div>
        </article>
    </section>

    <main>
        <p>
            {{ post.content }}
        </p>
    </main>

    <section id="comments">
        <ul>
            <h1>Comments</h1>
            {% for comment in comments %}
                <li>
                    <h2>{{ comment.user_name }}</h2>
                    <p>
                        {{ comment.text|linebreaks }}
                    </p>
                </li>
            {% endfor %}
        </ul>
    </section>

    <section id="comment-form">
        <h2>Your Comment</h2>
        <form method="POST">
            {% csrf_token %}
            {% for form_fields in comment_form %}
                <div class="form-control">
                    {{ form_fields.label_tag }}
                    {{ form_fields }}
                    {{ form_fields.errors }}
                </div>
            {% endfor %}
            <button>Save</button>
        </form>
    </section>

{% endblock content %}